/*Remove rounded Borders*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  font-family: 'Roboto', sans-serif;
}
ul {
  padding-left: 0px;
    list-style-type: none;
}

h4 {
  color: white;
}
li {
  margin-top: 5px;
  margin-bottom: 5px;
}

li > a {
  margin-left: 10px;
}

a:hover { 
    color: red;
    transition: color 0.7s ease; 
}

.form-control {
  width: 84%;
}

#mainbody {
  margin-top: 94px;
  position:absolute; top:0; bottom:0; right:0; left:0;
  background-color: #131D56;
}

.right-border {
  border-right: 1px white solid;
  padding-right: 10px;
}

.left-border {
  border-left: 1px white solid;
}
.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}
/* Footer Styles*/

#footer {
    position: fixed;
    top: 0;
    width: 100%;
    background: -webkit-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%); 
    background:    -moz-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
    background:     -ms-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
    background:      -o-linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
    background:         linear-gradient(90deg, #1A2980 10%, #26D0CE 90%);
    height: 94px;
}

/* Div to hold music controls */
.big-button-div {
    display: table;
    height: 94px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    overflow: hidden;
}

.search-child-div {
    padding-left: 22px;
    margin-left: 25px;
    margin-top: 30px;
}
.button-div {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

.music-controls {
  width: 184px;
}
/* Div to hold music details*/
.music-div {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    /*border-right: 1px white solid;*/
}

.music-div > h4, p {
  color:white;
  text-align: center;
}
.music-div > h4 {
  margin-bottom: 4px;
}
.music-div > p {
  margin-bottom: 0px;
}


/* Circular button hover */
.btn-default.btn-circle:hover {
    background: none !important;
    border-color: red !important;
    color: white !important;
    transition: border-color 0.7s ease; 
}

.btn-default:hover {
    background: none !important;
    color: red !important;
    transition: color 0.7s ease; 
}

.btn-default.active, .btn-default:active, .btn-default.btn-circle.active, .btn-default.btn-circle:active, .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
  background: none !important;
}

/* Circular Play button*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 0;
  border-radius: 15px !important;
  margin: 10px;
  border-color: white;
  background: none;
  color: white;
  border-width: 2px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px !important;
  margin: 5px;
}

/* Forward and Backward buttons*/
.btn-side {
  background: none;
  border:none;
  color: white;
}

/* Volume Button */
.btn-vol {
  background: none;
  border:none;
  color: white;
  padding-right: 1px;
}

/* Volume Slide style*/
.slider.slider-horizontal .slider-track {
    height: 3px;
    width: 100%;
    margin-top: -3px;
    top: 50%;
    left: 0;
}
.slider-handle.round {
    border-radius: 50% !important;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -6px;
}
.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}
.slider-handle {
    width: 15px;
    height: 15px;
}
.slider-selection {
    background-color: red !important;
    background-image: none !important;
}

#song-slider {
  width: 100%;
}

/* Albumart */
.img-thumbnail {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    padding: 0px !important;
    line-height: 1.42857143;
    background-color: #fff;
    border: none !important;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.center-cropped {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.albumart-div {
  height: 100%
}

.leftbar {
  position:absolute; top:0; bottom:0; right:0; left:0;
  background-color:  #0A0F2F;
  padding: 0px !important;
}

.inner-leftbar {
  padding: 15px;
}

.nowplaying {
    text-align: center;
    background-color: #26D0CE;
    border: none !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

.paddingtop20 {
  padding-top: 25px !important;
}

.searchwidth {
  width: 100%;
}
#appbody {
  float: right;
}
